.page {
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
}

.title {
	text-align: center;
	color: #0f0018 !important;
	text-shadow: #631880 1px 0 10px; 
	font-size: 70px !important;
	font-family: 'Audiowide', cursive !important;

}

.jumbotron {
	/*background: white;*/
	background: linear-gradient(to right, #c6c1d2, #e2e2e2);
	box-shadow: 10px 10px 5px #888888;
	border: solid 1px;
}

.jumbotron:hover {
	background-image: url("scary.png") !important;
}