body {
	font-size: 16px;
	background-image: url("https://cdn0.vox-cdn.com/thumbor/Jd7uGu_KZHAovHt7dYAYBX-p4As=/180x0:1872x952/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/49104733/pokemon-list.0.0.png");
}

.container {
	text-align: center;
	background-color: black;
	width: 400px;
}

.panel-title {
	font-size: 50px;
	font-family: 'Righteous', cursive;
	padding-top: 20px;
	color: gold;
}

.panel-body {
	text-align: center;
}

.text-center {
	text-align: center;
	color: black;
	font-size: 20px;
}

.list-group-item {
	margin-bottom: 1px;
	background-color: #fff9c4;
	border: 1px solid gold;
}

img {
	padding-right: 10px;
}

.Pokeball {
	height: 60px;
	width: 60px;
	padding-right: 0px;
}