body{
  background: black;
}

.pokemon-wrapper{
  background-image:linear-gradient(to right, rgba(228, 226, 226, 0.9), rgba(190, 186, 186, 0.8)),
  url(./poketype.jpg);  
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;   
  text-align: center;

}
.myshelfimg{
  max-width: 100%;
  min-height: 60px;
}
.myshelfBox{
  width:100%;
}
.vault-pokemon-title{
  color:black;
  font-size: 20px;
}
.poketype-span{
  color:black;
}
#panel-id{
  padding:0;
  border: 5px solid #ed1c25;
  width:70%;
  margin: 0 auto;
}
#list-group-item{
  margin-bottom:0;
}

@media (max-width:700px){
  #panel-id{
    width:100%
  }
}
